:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primaty-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-color: #2E2F42;
}


/* ====================COMPONENTS==================== */
/* цвет основного текста h1 #FFFFFF  */
/* цвет второстепенного текста h2 & h3 #2E2F42 */
/* абзац #434455 */

body {
    font-family: var(--primary-font);
    background-color: #FFFFFF;
    color: #434455;
}

ul {
    list-style: none;
}

.logo-studio,
.logo-web,
.nav-link,
.contacts,
.link-works {
    text-decoration: none;
}


.text {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ====================/COMPONENTS==================== */

/* ====================HEADER==================== */
.logo-web {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-studio {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
    color: #434455;
}
.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.contacts:hover,
.contacts:focus {
    color: #434455;
}
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* =====================/HEADER==================== */

/* =====================HERO====================== */
.hero {
    background-color: #434455;
}
.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button:hover,
.hero-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-color: #4D5AE5;
}
.hero-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.19;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-color: #4D5AE5;
    cursor: pointer;
}
/* ======================/HERO====================== */

/* =====================ABOUT==================== */
.title-section {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

.title-description {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/* =====================/ABOUT==================== */

/* ======================FOOTER===================== */
.footer {
    background-color: #434455;
}

.logo-web {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-studio {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.text-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}
/* ======================FOOTER===================== */

/* ======================MAIN PORTFOLIO===================== */

.menu-button:hover,
.menu-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-color: #4D5AE5;
}

.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 126px;
    height: 48px;
    /* background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px; */
    flex: none;
    order: 4;
    flex-grow: 0;
    cursor: pointer;
}