:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primaty-text-color: #2E2F42;
    --secondary-text-color: #434455;
    --accent-color: #2E2F42;
    --secondary-footer-color: #E7E9FC;
}


/* ====================COMPONENTS==================== */
/* цвет основного текста h1 #FFFFFF  */
/* цвет второстепенного текста h2 & h3 #2E2F42 */
/* абзац #434455 */

body {
    font-family: var(--primary-font);
    background-color: #FFFFFF;
    color: #434455;
}

ul {
    list-style: none;
}

.logo-studio-dark,
.logo-studio-white,
.logo-web,
.nav-link,
.contacts,
.link-works {
    text-decoration: none;
}


.text {
    font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
/* ====================/COMPONENTS==================== */

/* ====================HEADER==================== */
.logo-web {
    color: #4D5AE5;
}

.logo-studio-dark {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
    color: #4D5AE5;
}
.nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.contacts:hover,
.contacts:focus {
    color: #4D5AE5;
}
.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* =====================/HEADER==================== */

/* =====================HERO====================== */
.hero {
    background-color: var(--accent-color);
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-button:hover,
.hero-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-color: #4D5AE5;
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-color: #4D5AE5;
    cursor: pointer;
}
/* ======================/HERO====================== */

/* =====================ABOUT==================== */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.title-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

.title-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}
/* =====================/ABOUT==================== */

/* ======================FOOTER===================== */
.footer {
    background-color: var(--accent-color);
}

.logo-web {
    color: #4D5AE5;
}

.logo-studio-white {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.text-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-footer-color);
}
/* ======================FOOTER===================== */

/* ======================MAIN PORTFOLIO===================== */

.menu-button:hover,
.menu-button:focus {
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-color: #4D5AE5;
}

.menu-button {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;
    background-color: #E7E9FC;
    color: #4D5AE5;
    cursor: pointer;
}